.headfront{
 font-family: Arial, Helvetica, sans-serif;
 margin: auto;
 padding: 5%;

 text-align: center;
}
.email{font-size: large;
    font-weight: 100%;
    color: blue;
    padding: 0px;
    margin: 0px;
    
  
}
.headback{
    padding-top: -20%;
}
.work p{margin: 1%;
    
}
* p{
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
}
